/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px
}
/* Navigation bar  */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: rgb(153, 146, 146);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/* Logo & Image  */
#logo{
    margin:11px 31px;
    height: 35px;
}
#logo img{
    height: 36px;
    margin: 1px 0px;
}
/* List Styling  */
#navbar ul{
    display: flex;

}
#navbar ul li{
    color: aliceblue;
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;  
}
#navbar ul li a:hover{
    color: rgb(235, 229, 229);
    background-color: rgb(8, 7, 6);  
}
/* home section 
 */
 #home{
     display: flex;
     flex-direction: column;
     padding: 3px 200px;
     height: 370px;
     justify-content: center;
     align-items: center;
 }
 #home::before{
    content: "";
    position: absolute;
    background: url(/images/bg3.jpg) no-repeat center center/cover;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: rgb(17, 16, 16);
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Festive', cursive;
}
#home p{
    color: rgb(17, 16, 16);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
}
/* service Section  */
    #services{
        margin: 34px;
        display: flex;
    }
    

    #services .box{
        border: 1px solid brown;
        padding: 30px;
        margin: 3px 6px;
        border-radius: 28px;
        background: url(/images/bg4.jpg) no-repeat center center/cover;
        }
    #services .box img{
        height: 100px;
        margin: auto;
        display: block;
    }
    #services .box:hover{
        background: black;
        color: bisque;
    }
/* Client Section  */
#client-section{
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(/images/bg3.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;

}
#clients img{
    height: 160px;
}

/* Contact Section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(/images/bg3.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility classes  */
.h-primary{
    font-size: 40px;
    padding: 12px;
    font-family: 'Dancing Script', cursive;
}
.h-secondary{
    font-size: 3.0 rem;
    padding: 12px;
    font-family: 'Dancing Script', cursive;
}
.btn{
    padding: 6px 20px;
    border: 1px solid white;
    background-color: rgb(243, 151, 151);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 28px;
    cursor: pointer;
}
.center{
    text-align: center;
}
